button {
  font-size: 1.5em;
  background-color: rgb(109, 179, 240);
  border-radius: 0.3em;
}

form, 
div {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 0.1em solid black;
  padding: 1em;
  width: 30em;
  height: 30em;
}

h1 {
  margin: 0;
}

header {
  text-align: center;
  background-color: rgb(109, 179, 240);
  padding: 1em;
}

input {
  margin-bottom: 1em;
  font-size: 1em;
  height: 1.5em;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

textarea {
  width: 35.5em;
  height: 25em;
  margin-bottom: 2.5em;
}