div {
  display: flex;
  flex-direction: column;
  border: 0.1em solid black;
  padding: 1em;
  width: 30em;
  height: 30em;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

textarea {
  width: 30em;
  height: 25em;
  margin-bottom: 2.5em;
}